<br><br>
<div>
    <div class="col-sm-6 my-3" style="margin: auto">
        <label class="sr-only" for="username">Username/login</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span><i class="fa fa-user"></i></span>
                </div>
            </div>
            <input type="text" class="form-control" ng-model="authInfo.login"
                   id="username" placeholder="Username">
        </div>
    </div>

    <div class="col-sm-6 my-3" style="margin: auto">
        <label class="sr-only"
               for="password">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span><i class="fa fa-key"></i></span>
                </div>
            </div>
            <input type="text" class="form-control" ng-model="authInfo.password"
                   id="password" placeholder="Password">
        </div>
    </div>

    <div class="col-sm-2 my-3" style="margin: auto">
        <button type="submit" class="btn btn-block btn-primary"
        ng-click="authorisation(authInfo)">Войти</button>
    </div>
</div>