<div class="container">
    <h4>Меню</h4>
    <br/>

    <div class="col-md-12" ng-show="fileLength > 0">
        <div class="row">
        <a class="btn btn-primary" href="#">Добавить</a>
        </div>
        <br/>
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>№&nbsp;<a ng-click="sort_width('id');">
                        <i class="fa fa-arrows-v" aria-hidden="true"></i></a></th>
                    <th>Название&nbsp;<a ng-click="sort_width('name');">
                        <i class="fa fa-arrows-v" aria-hidden="true"></i></a></th>
                    <th>Цена&nbsp;<a ng-click="sort_width('price');">
                        <i class="fa fa-arrows-v" aria-hidden="true"></i></a></th>
                    <th class="actions"></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in file | orderBy : base : reverse | limitTo : dataLimit : start()">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <a class="btn btn-success" href="#">EDIT</a>
                        <a class="btn btn-danger" href="#" ng-click="delete(item.id)">DELETE</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="col-md-12" ng-show="fileLength == 0">
            <h3>Нет данных</h3>
        </div>
        <div class="col-md-12">
            <div class="col-md-6" ng-show="fileLength > 0">
                <button class="btn btn-primary" ng-click="prevPage()" ng-disabled="firstPage()">Назад</button>
                <span>Страница {{currentPage}} из {{pageCount}}</span>
                <button class="btn btn-primary" ng-click="nextPage()" ng-disabled="lastPage()">Вперед</button>
            </div>
        </div>
</div>
</div>