<!DOCTYPE html>
<html lang="en" ng-app="cookstarter" ng-controller="loginControllerApiV1">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>

    <script src="../index.js"></script>
    <script src="login/login.js"></script>

    <title>LLC CookStarter</title>

    <!-- CSS connecting people -->
    <link href="style.css" rel="stylesheet">

</head>
<body>
<h2>loginPage</h2>

<!--вывод списока данных на страницу -->
<h3>Вход</h3>
<form ng-submit="tryToAuth()">
    <input type="text" name="username" ng-model="user.username">
    <input type="password" name="password" ng-model="user.password">
    <button class="btn btn-outline-primary" type="submit">Войти</button>
</form>
<button class="btn btn-outline-secondary" ng-click="tryToLogout()">Выйти</button>


</body>
</html>