<h2>Регистрация ресторана</h2>
    <br/>

    <div class="col-md-12">
        <br/>
            <form>

                <div class="form-row">
                    <div class="col">
                        <label for="RestaurantName">Название ресторана:</label>
                        <input type="text" class="form-control" placeholder="Restaurant name"
                               id="RestaurantName" placeholder="Название" ng-model="restaurant.name">
                    </div>
                    <div class="col">
                        <label for="restaurantId">Id:</label>
                        <input type="text" class="form-control" id="restaurantId"
                               placeholder="name@example.com" ng-model="restaurant.id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="restaurantDescription">Описание:</label>
                    <textarea class="form-control"
                              id="restaurantDescription" rows="3" ng-model="restaurant.description"></textarea>
                </div>

                <div class="form-group">
                    <h4>Контакты:</h4>
                    <hr>
                    <div class="form-row">
                        <div class="col">
                            <label for="RestaurantAddress">Адрес:</label>
                            <input type="text" class="form-control" placeholder="Restaurant address"
                                   id="RestaurantAddress" placeholder="Название" ng-model="contact.address">
                        </div>
                        <div class="col">
                            <label for="restaurantPhone">Телефон:</label>
                            <input type="text" class="form-control" id="restaurantPhone"
                                   placeholder="" ng-model="contact.phone">
                        </div>
                        <div class="col">
                            <label for="contactId">Id:</label>
                            <input type="text" class="form-control" id="contactId"
                                   placeholder="name@example.com" ng-model="contact.id">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="RestaurantEmail">Email:</label>
                            <input type="email" class="form-control" placeholder="name@example.com"
                                   id="RestaurantEmail"  ng-model="contact.email">
                        </div>
                        <div class="col">
                            <label for="restaurantWebsite">Website:</label>
                            <input type="text" class="form-control" id="restaurantWebsite"
                                   placeholder="example.com" ng-model="contact.website">
                        </div>
                    </div>
                </div>

                <a class="btn btn-primary" ng-click="addRestaurant(restaurant)"
                   href="#/restaurants">Зарегистрировать</a>

            </form>

</div>